* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0px;
}

:root {
    --main-color: #0065FC;
    --secondary-color: #0055d4;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.fa-solid {
    color: var(--main-color);
}

.main-container {
    width: 100%;
    height: fit-content;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards .card:hover {
    box-shadow: 0px 3px 15px 0px #0000004c;
    border: 0px;
    border-radius: 20px;
    transform: scale(1.03);
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* HEADER */
.header {
    width: 100%;
    height: 79px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 30px;
}

.header__logo {
    width: 61px;
    height: 100%;
    object-fit: contain;
}

.header__logo:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.header__logo__link {
    width: 61px;
    height: 100%;
}

.header__nav {
    width: 334px;
    height: 35px;
    display: flex;
    justify-content: space-around;
}

.header__link {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
    padding: 0px 10px 0px 10px;
}

.header__link:hover {
    cursor: pointer;
    border-top: 3px solid var(--main-color);
    transform: scale(1.05);
    color: var(--main-color);
}

/* info group */
.info {
    width: 100%;
    min-height: 281px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    gap: 35px;
    margin-bottom: 35px;
}

.headline {
    width: 100%;
    height: 53px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.headline__title {
    width: fit-content;
    height: fit-content;
    font-size: 22px;
    font-weight: bold;
}

.headline__subTitle {
    width: fit-content;
    height: fit-content;
    font-size: 16px;
    font-weight: 400;
}

.searchbar {
    width: 377px;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.searchbar__icon {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: var(--main-bg-color);
    border-radius: 10px 0px 0px 10px;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar__icon {
    cursor: pointer;
}

.searchbar__input {
    height: 100%;
    width: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 2px solid var(--main-bg-color);
    border-bottom: 2px solid var(--main-bg-color);
    border-left: 0px;
    border-right: 0px;
}

.searchbar__input::placeholder {
    color: black;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.searchbar__btn {
    height: 100%;
    width: 132px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0px 10px 10px 0px;
    border: 0px;
}

.searchbar__btn:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
}

.filterBar {
    width: 758px;
    min-height: 50px;
    max-height: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.filterBar__text {
    width: 54px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 16px;
    font-weight: 600;
}

.filterBar__card {
    border: 2px solid var(--main-bg-color);
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    height: 50px;
    gap: 10px;
    padding: 0px 20px 0px 20px;
}

.filterBar__card:hover {
    cursor: pointer;
    background-color: var(--filter-bg-color);
    transform: scale(1.05);

}

.filterBar__card__icon {
    width: 22px;
    aspect-ratio: 1/1;
}

.filterBar__card__text {
    width: fit-content;
    height: 100%;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

.infoBar {
    width: fit-content;
    height: 24px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.infoBar__icon {
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 1px solid var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoBar__text {
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

/* hebergement */
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.hebergements {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px 30px 0px 30px;
    width: 65%;
    height: 614px;
    display: flex;
    flex-direction: column;
}

.hebergements__title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}

.hebergements__text {
    height: 22px;
    width: fit-content;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
}

.hebergements__text:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.hebergements__row {
    margin-bottom: 30px;
    height: 208px;
    width: 100%;
    gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hebergements__link {
    width: 33%;
    height: 100%;
}

.hebergements__link:hover {
    box-shadow: 0px 3px 15px 0px #0000004c;
    border: 0px;
    border-radius: 20px;
    transform: scale(1.03);
}

.hebergements__card {
    display: flex;
    height: 208px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: white;
    border: 0px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001e;
    gap: 4px;
}


.hebergements__card__img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border: 0px;
    border-radius: 20px 20px 0px 0px;
    padding: 5px;
}

.hebergements__card__box {
    width: 100%;
    padding-left: 15px;
    margin-bottom: 15px;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.hebergements__card__title {
    font-size: 16px;
    font-weight: bold;
}

.hebergements__card__text {
    font-size: 14px;
}

/* .hebergements__card__text:last {
    font-size: 14px;
} */



/* activity */
.activity {
    height: 560px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-bottom: 35px;
}

.activity__title {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.activity__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: row;
    width: 100%;
    height: 440px;
}

.activity__link {
    width: 25%;
    height: 440px;
}

.activity__link:hover {
    box-shadow: 0px 3px 15px 0px #0000004c;
    border: 0px;
    border-radius: 20px;
    transform: scale(1.01);
}

.activity__card {
    height: 440px;
    width: 100%;
    box-shadow: 0px 3px 15px 0px #0000001e;
    border: 0px;
    border-radius: 20px;
}

.activity__card__img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border: 0px;
    border-radius: 20px 20px 0px 0px;

}

.activity__card__title {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: start;
    padding: 27px 20px 20px 20px;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    word-break: break-all;
}

/* footer */
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 163px;
    width: 100%;
    background-color: var(--main-bg-color);
}

.footer__box {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

.footer__title {
    font-size: 18px;
    font-weight: bold;
}

.footer__link {
    width: fit-content;
    font-size: 16px;
}

.footer__link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    transform: scale(1.03);
}


/* responsive hide */
.searchbar__btnIcon {
    display: none;
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .headline__title {
        margin-bottom: 10px;
    }
    .main-container {
        padding: 0px;
    }

    .header {
        height: 115px;
        display: flex;
        flex-direction: column;
    }

    .header__logo__link {
        width: 100%;
        height: 79px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__logo {
        width: 61px;
        height: 100%;
    }

    .header__nav {
        width: 100%;
        height: 36px;
    }

    .header__link {
        width: 50%;
        height: 36px;
        padding-bottom: 20px;
    }

    .header__link:hover {
        border-top: 0px;
        border-bottom: 3px solid var(--main-color);

    }

    .info {
        height: fit-content;

        padding-left: 20px;
        padding-right: 20px;
    }

    .searchbar {
        position: relative;
        width: 100%;
    }

    .searchbar__btn {
        display: none;
    }

    .searchbar__input {
        width: calc(100% - 100px);
    }

    .searchbar__btnIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0px;
        right: 4px;
        background-color: var(--main-color);
        height: 100%;
        aspect-ratio: 1/1;
        border: 0px;
        border-radius: 10px;
    }

    .filterBar {
        height: 161px;
        width: 100% !important;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
    }

    .filterBar__text {
        height: 20px;
        width: 100%;
    }

    .filterBar__card {
        width: 46% !important;
    }

    .filterBar__text {
        font-size: 14px;
    }

    .filterBar__card__icon {
        min-width: 22px;
    }

    .filterBar__card__text {
        font-size: 14px;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse !important;
        gap: 15px;
        margin-top: 35px;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    .populaires {
        margin: 0px !important;
    }

    .populaires-cards {
        margin: 0px !important;
        flex-direction: column !important;
    }

    .populaires-cards a {
        width: 100% !important;
    }

    .populaires-cards .card {
        width: 100% !important;
    }

    .hebergements__row {
        flex-direction: column;
        height: 684px;
    }

    .hebergements__link {
        width: 100%;
    }

    .hebergements {
        min-height: 1565px !important;
        background-color: white;
    }

    .activity {
        height: fit-content !important;
        padding-left: 20px;
        padding-right: 20px;
    }

    .activity__box {
        height: fit-content !important;
        flex-direction: column;
    }

    .activity__link {
        width: 100%;
    }

    .footer {
        flex-wrap: nowrap;
        height: fit-content;
        flex-direction: column !important;
    }

    .footer__box {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .filterBar {
        width: 700px;

    }

    .filterBar__text {
        width: 100%;
        margin-bottom: 10px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }


    .activity {
        height: 390px;
    }

    .activity__link {
        height: 270px;
    }

    .activity__card {
        height: 270px;
    }

    .activity__card__img {
        height: 200px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}